body {
    background-color: black;
    text-align: center;
}
h1 {
    text-align: center;
    color: white;
}
a:link {
    text-decoration: none;
    
}
a:hover {
    text-decoration: underline;
}